{{remember-document-scroll key=(concat 'ticket/' model.id)}}

<section id="ticket">
  {{action-bar 'addEvents' 'payments' 'delete'
    for='ticket'
    delete=(route-action 'deleteRecord')
    deleteIcon='trash'
    addEvents=(component 'find-event-dialog' disabled=model.events onsubmit=(route-action 'createTicketedEvents' model))
    addEventsIcon='calendar'
    payments='ticket.purchases'
    paymentsIcon='coin'}}
  {{#form-for model name='ticket' autosave=true onsubmit=(route-action 'save') as |f|}}
    <div class='container'>
      {{f.save-status}}
    </div>
    <div class='grid-column container'>
      {{f.text 'description'}}
      <div class='grid-row'>
        {{f.currency 'cost' 'currency' currencies=(list 'USD' 'EUR')}}
        {{f.number 'quantity'}}
      </div>
      <div class='grid-row'>
        {{f.datetime 'validFrom'}}
        {{f.datetime 'validTo'}}
      </div>
    </div>
    <br>
    {{#sortable-list name='events' rows=events onsort=(action (mut sortEventsBy)) icon='calendar' sort=sortEventsBy as |l|}}
      {{#l.item 'title' as |item|}}
        {{item.title}}
      {{/l.item}}
      {{#l.item 'startsAt' as |item|}}
        {{l 'date' item.startsAt}}
      {{/l.item}}
    {{/sortable-list}}
  {{/form-for}}
</section>
