{{to-elsewhere named='search' send=(component 'back-link' 'ticket.index' model.ticket label=model.ticket.description)}}

<section id="ticket">
  <header class="container">
    {{search-field query=q onquery=(action (mut q)) placeholder='Search by name'}}
    <nav>
      {{#dialog-button (component 'add-purchase-dialog' ticket=model onsubmit=(route-action 'createPurchase' model)) group='add-purchase'}}
        {{icon 'coin'}} Add Purchase
      {{/dialog-button}}
    </nav>
  </header>
  {{balance-bar balance=model.meta.balance credit=model.meta.credit debit=model.meta.debit}}
  {{#sortable-list name='purchases' rows=model.model load=(route-action 'load') total=model.meta.page.total sort=sort icon='person' as |l|}}
    {{#l.item 'paidBy.name' as |item|}}
      {{#link-to 'person' item.paidBy}}{{item.paidBy.name}}{{/link-to}}
    {{/l.item}}
    {{#l.item 'paidAt' as |item|}}
      {{l 'date' item.paidAt}}
    {{/l.item}}
    {{#l.item 'id' as |item|}}
      {{#link-to 'transaction' item}}#{{item.id}}{{/link-to}}
    {{/l.item}}
  {{/sortable-list}}
</section>
