<header>{{icon 'person'}} Add Person</header>
<div class="body grid-column">
  {{search-field query=q onquery=(action 'query') placeholder="Search people by name"}}
  {{#sortable-list name='findPeople' rows=results sort=sort onsort=(action 'sort') query=q icon='person' as |l|}}
    {{#l.item 'checkbox' sortable=false as |item|}}
      {{check-box value=(equals selected item) onchange=(action (mut selected) item)}}
    {{else}}
      <span></span>
    {{/l.item}}
    {{#l.item 'name' as |item|}}
      {{item.name}}
    {{/l.item}}
    {{#l.item 'email' as |item|}}
      {{item.email}}
    {{/l.item}}
  {{/sortable-list}}
</div>
<footer>
  <button type='submit' onclick={{action onsubmit selected}}>Add Person</button>
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>
