{{#if (equals payload.size 'large')}}
  <figure class="align-{{payload.align}} size-{{payload.size}}">
    <img src={{payload.url}} title="{{payload.caption}}"/>
    <figcaption>{{payload.caption}}</figcaption>
  </figure>
{{else}}
  <div class="container">
    <figure class="align-{{payload.align}} size-{{payload.size}}">
      <img src={{payload.url}} title="{{payload.caption}}"/>
      <figcaption>{{payload.caption}}</figcaption>
    </figure>
  </div>
{{/if}}