<iframe frameborder="0" class="google-map body"
  src="https://www.google.com/maps/embed/v1/view?key={{apiKey}}&center={{latitude}},{{longitude}}&zoom={{zoom}}" allowfullscreen>
</iframe>
<footer>
  <button type='reset' onclick={{dismiss}}>Close</button>
</footer>
