<header>{{icon 'unlock'}} Log In</header>
<div class='body'>
  <div class='grid-column'>
    <button type='submit' onclick={{action authorizors.facebook}}>{{icon 'facebook'}} Login with Facebook</button>
    <button type='submit' onclick={{action authorizors.google}}>{{icon 'google'}} Login with Google</button>
  </div>
</div>
<footer>
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>