<ul class="kg-action-bar {{unless showToolbar 'o-0'}}">
    <li>
        <button
            type="button"
            class="icon {{if activeMarkupTagNames.isStrong "active"}}"
            title="Bold"
            {{action "toggleMarkup" "strong"}}
        >
            {{icon "bold"}}
        </button>
    </li>
    <li>
        <button
            type="button"
            class="icon {{if (or activeMarkupTagNames.isEm activeMarkupTagNames.isI) "active"}}"
            title="Italic"
            {{action "toggleMarkup" "em"}}
        >
            {{icon "italic"}}
        </button>
    </li>
    <li>
        <button
            type="button"
            class="icon {{if (or activeMarkupTagNames.isU) "active"}}"
            title="Underline"
            {{action "toggleMarkup" "u"}}
        >
            {{icon "underline"}}
        </button>
    </li>
    {{#unless basicOnly}}
      {{#if activeSectionTagNames.isH2}}
        <li class="ma0 lh-solid">
            <button
                type="button"
                title="Small Heading"
                class="icon active"
                {{action "toggleHeaderSection" "h3"}}
            >
                {{icon "format_size"}}
            </button>
        </li>
      {{else if activeSectionTagNames.isH3}}
        <li class="ma0 lh-solid">
            <button
                type="button"
                title="Footnote"
                class="icon active"
                {{action "toggleSection" "small"}}
            >
                {{icon "format_size"}}
            </button>
        </li>
      {{else if activeSectionTagNames.isSmall}}
        <li class="ma0 lh-solid">
            <button
                type="button"
                title="Normal Size"
                class="icon active"
                {{action "toggleSection" "small"}}
            >
                {{icon "format_size"}}
            </button>
        </li>
      {{else}}
        <li class="ma0 lh-solid">
            <button
                type="button"
                title="Heading"
                class="icon"
                {{action "toggleHeaderSection" "h2"}}
            >
                {{icon "format_size"}}
            </button>
        </li>
      {{/if}}
    {{/unless}}


    {{#unless basicOnly}}
        <li class="ma0 lh-solid">
            <button
                type="button"
                class="icon {{if activeSectionTagNames.isBlockquote "active"}}"
                title="Quote"
                {{action "toggleSection" "blockquote"}}
            >
                {{icon "format_quote"}}
            </button>
        </li>
    {{/unless}}
    <li class="ma0 lh-solid">
        <button
            type="button"
            class="icon {{if activeMarkupTagNames.isA "active"}}"
            title="Link"
            {{action "editLink"}}
        >
            {{icon "link"}}
        </button>
    </li>
</ul>