{{#form-for name='ticket' onsubmit=(action 'submit') as |f|}}
  <header>{{t 'ticket.create.title' icon=(icon 'ticket') htmlSafe=true}} Add Ticket</header>
  <div class="body grid-column">
    {{f.text 'description'}}
    <div class='grid-row'>
      {{f.currency 'cost' 'currency' currencies=(list 'USD' 'EUR')}}
      {{f.number 'quantity'}}
    </div>
    <div class='grid-row'>
      {{f.datetime 'validFrom'}}
      {{f.datetime 'validTo'}}
    </div>
  </div>
  <footer>
    {{#f.submit}}{{t 'ticket.create.submit'}}{{/f.submit}}
    <button type='reset' onclick={{dismiss}}>{{t 'ticket.create.cancel'}}</button>
  </footer>
{{/form-for}}
