{{#form-for model name='purchase' onsubmit=(action 'submit') as |f|}}
  <header>{{icon 'coin'}} Add Purchase</header>
  <div class='body grid-column'>
    {{#f.buttons 'paymentMethod' name='purchase.methods' as |b|}}
      {{b.option 'cash'}}
      {{b.option 'online'}}
      {{b.option 'free'}}
    {{/f.buttons}}
    {{f.autocomplete 'paidBy' key='name' onquery=(route-action 'query' 'person')}}
    {{#if (equals f.changeset.paymentMethod 'cash')}}
      {{f.currency 'amountPaid' 'currency' currencies=(list 'USD' 'EUR')}}
    {{else if (not (equals f.changeset.paymentMethod 'free'))}}
      {{f.currency 'amountPaid' 'currency' currencies=(list 'USD' 'EUR')}}
      {{f.text 'paymentMethod'}}
      {{f.url 'paymentProcessorUrl'}}
    {{/if}}
  </div>
  <footer>
    {{f.submit 'Add Purchase'}}
    <button type='reset' onclick={{dismiss}}>Cancel</button>
  </footer>
{{/form-for}}
