{{#sortable-list name='itinerary' rows=events click=editCard sort='startsAt' onsort=(action 'nothing') icon='calendar' as |l|}}
  {{#l.item 'title' sortable=false as |item|}}
    {{item.title}}
  {{else}}
    <span>{{t 'itinerary.title'}}</span>
  {{/l.item}}
  {{#l.item 'startsAt' '-endsAt' sortable=false as |item|}}
    {{{format-date-range item.startsAt item.endsAt}}}
  {{else}}
    <span>{{t 'itinerary.startsAt'}}</span>
  {{/l.item}}
{{/sortable-list}}