<h4>{{icon 'ticket'}} {{#link-to 'ticket' ticket target='__blank'}}{{ticket.description}}{{/link-to}} <span>{{l 'currency' ticket.cost currency=ticket.currency}}</span></h4>
{{#form-for payload onsubmit=(action submit) as |f|}}
  {{f.text 'callToAction'}}
  {{f.submit 'Save'}}
  <button type='reset' onclick={{action cancelCard}}>Cancel</button>
{{/form-for}}
