{{title 'Tickets'}}
{{remember-document-scroll key='tickets'}}

<section id="tickets">
  <header>
    <h2>
      {{search-field query=q onquery=(action (mut q)) placeholder="Tickets"}}
    </h2>
  </header>
  <nav>
    <button type='submit' onclick={{action (mut isAdding) true}}>
      {{icon "ticket"}} Add Ticket
    </button>
    {{#if isAdding}}
      {{dialog-box (component 'new-ticket-dialog'
          onsubmit=(route-action 'createTicket'))
        ondismiss=(action (mut isAdding) false)}}
    {{/if}}
  </nav>
  {{#sortable-list load=(route-action 'load') rows=model.model total=model.meta.page.total sort=sort icon='ticket' as |l|}}
    {{#l.item 'description' as |item|}}
      {{#link-to 'admin.ticket' item}}{{item.description}}{{/link-to}}
    {{else}}
      Description
    {{/l.item}}
    {{#l.item 'cost' as |item|}}
      {{l item.cost currency=item.currency}}
    {{else}}
      Cost
    {{/l.item}}
    {{#l.item 'validFrom' 'validTo' as |item|}}
      {{format-date-range item.validFrom item.validTo}}
    {{else}}
      Sale Period
    {{/l.item}}
    {{#l.item 'numberSold' as |item|}}
      {{item.numberSold}}
    {{else}}
      # Sold
    {{/l.item}}
  {{/sortable-list}}
</section>
