<header>{{icon 'calendar'}} Add Events</header>
<div class="body">
  {{search-field query=q onquery=(action 'query') placeholder="Search events by title"}}
  {{#sortable-list name='findEvents' rows=results sort=sort onsort=(action 'sort') query=q icon='calendar' as |l|}}
    {{#l.item 'checkbox' sortable=false as |item|}}
      {{check-box value=(contains selection item) disabled=(contains disabledIds item.id) onchange=(action 'select' item)}}
    {{else}}
      {{check-box value=areAllSelected onchange=(action 'toggleSelectAll')}}
    {{/l.item}}
    {{#l.item 'title' as |item|}}
      {{item.title}}
    {{/l.item}}
    {{#l.item 'startsAt' '-endsAt' as |item|}}
      {{{format-date-range item.startsAt item.endsAt timezone=session.currentGroup.timezone}}}
    {{/l.item}}
  {{/sortable-list}}
</div>
<footer>
  {{#submit-button onsubmit=(action 'submit' selection)}}
    Add Events
  {{/submit-button}}
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>
