<img src="{{location.photo.url}}" alt="{{location.name}}">
<div class='location-info'>
  <strong>{{location.name}}</strong><br>
  {{location.addressLine}} {{payload.extendedAddress}}<br>
  {{location.city}}, {{location.regionCode}}
</div>
