{{#form-for model class='update-stripe-dialog' name='stripe' onsubmit=(action 'submit') as |f|}}
  <header>{{icon 'stripe'}} Update Stripe</header>
  <div class='body grid-column'>
    {{f.text 'stripePublishableKey'}}
    {{#f.password 'stripeSecretKey'}}
      Show Secret Key
    {{else}}
      Hide Secret Key
    {{/f.password}}
    {{f.textarea 'appleDeveloperMerchantidDomainAssociation' rows=5}}
  </div>
  <footer>
    {{f.submit 'Save'}}
    <button type='reset' onclick={{dismiss}}>Close</button>
  </footer>
{{/form-for}}
