{{remember-document-scroll key=(concat 'event/' model.id '/edit')}}

{{to-elsewhere named='search' send=(component 'back-link' 'events')}}

{{action-bar 'attendance' 'photos' 'delete'
  for='event'
  delete=(route-action 'deleteRecord' model)
  deleteIcon='trash'
  attendance='event.ledger'
  attendanceIcon='person'
  photos='event.photos'
  photosIcon='photo'}}
<section id="event-edit" class="container">
  {{#form-for model name='event' autosave=true onsubmit=(route-action 'save') as |f|}}
    {{f.save-status}}
    <div class='grid-column'>
      {{f.text 'title'}}
      <div class='grid-row'>
        {{f.datetime 'startsAt'}}
        {{f.datetime 'endsAt' autocomplete=f.changeset.startsAt}}
      </div>
      {{#f.form-for 'guests' class='grid-row' as |g|}}
        {{g.autocomplete 'person' onquery=(route-action 'query' 'person') key='name'}}
        {{g.text 'role'}}
      {{else}}
        <button type='submit' onclick={{route-action 'addGuest'}}>{{icon 'add'}} Add Guest</button>
      {{/f.form-for}}
      {{f.editor 'description'}}
      {{#f.form-for 'venue' class='grid-row' as |g|}}
        {{g.autocomplete 'location' onquery=(route-action 'query' 'location') key='name'}}
        {{g.text 'extendedAddress'}}
     {{/f.form-for}}
    </div>
  {{/form-for}}
</section>
