{{remember-document-scroll key=(concat 'event/' model.id '/edit')}}

<section id="event-edit">
  {{#form-for model autosave=true onsubmit=(route-action 'save') as |f|}}
    {{#f.nav ondelete=(route-action 'deleteRecord')}}
      {{#link-to 'event.photos' class='submit-button'}}
        {{icon "photo"}} Photos
      {{/link-to}}
    {{/f.nav}}
    <div class='grid-column'>
      {{f.text 'title'}}
      <div class='grid-row'>
        {{f.datetime 'startsAt'}}
        {{f.datetime 'endsAt' autocomplete=f.changeset.startsAt}}
      </div>
      {{#f.form-for 'guests' class='grid-row' as |g|}}
        {{g.autocomplete 'person' onquery=(route-action 'query' 'person') key='name'}}
        {{g.text 'role'}}
      {{/f.form-for}}
      {{f.editor 'description'}}
    </div>

    {{#form-for model.guests autosave=true class='grid-row' onsubmit=(route-action 'saveVenue') as |g|}}
      {{g.autocomplete 'person' onquery=(route-action 'query' 'person') key='name' label='Guest'}}
      {{g.text 'role'}}
    {{else}}
      <button onclick={{route-action 'addGuest'}}>{{icon 'person'}} Add Guest</button>
    {{/form-for}}
  {{/form-for}}
  <br>
  {{#form-for model.venue autosave=true class='grid-row' onsubmit=(route-action 'saveVenue') as |f|}}
    {{f.autocomplete 'location' onquery=(route-action 'query' 'location') key='name'}}
    {{f.text 'extendedAddress'}}
  {{/form-for}}
</section>
