{{to-elsewhere named='search' send=(component 'back-link' 'event.index' model label=model.title)}}

<section id="photos">
  {{#file-dropzone name=(concat 'event-' model.id) as |dropzone|}}
    <header class='container'>
      <nav class='row'>
        {{#file-upload name=(concat 'event-' model.id)
                        onfileadd=(route-action 'addPhoto' model)
                        accept='image/*'
                        multiple=true
                        class='submit-button'}}
          {{icon "photo"}} Add Photos
        {{/file-upload}}
      </nav>
    </header>

    {{#each (await model.eventPhotos) as |photos|}}
      {{#photo-grid name='photo' photos=photos icon='photo' as |photo width height|}}
        {{#link-to 'photo' photo~}}
          <img src="{{photo.url}}" alt="{{photo.title}}" width="{{width}}" height="{{height}}">
        {{~/link-to}}
      {{/photo-grid}}
    {{/each}}
  {{/file-dropzone}}
</section>
