<button type='button' id="{{id}}-{{for}}" class="{{if (get editor.activeSectionTagNames for) 'active'}}" title={{title}} onclick={{action onclick editor.editor for}}>
  {{~#if (get editor.activeSectionTagNames for)~}}
    {{#if (has-block 'inverse')~}}
      {{yield to='inverse'}}
    {{~else~}}
      {{yield}}
    {{~/if~}}
  {{~else~}}
    {{yield}}
  {{~/if}}
  {{~#tool-tip for=(concat id '-' for)~}}
    {{title}} {{#if keyboardShortcut}}[{{keyboardShortcut}}]{{/if}}
  {{~/tool-tip~}}
</button>
