{{#form-for onsubmit=(action 'submit') as |f|}}
  <header>{{icon 'calendar'}} Add Event</header>
  <div class="body">
    <div class='grid-column'>
      {{f.text 'title'}}
      <div class='grid-row'>
        {{f.datetime 'startsAt'}}
        {{f.datetime 'endsAt' autocomplete=f.changeset.startsAt}}
      </div>
      <div>
        <label>
          {{check-box value=repeats onchange=(action (mut repeats))}}
          Repeats
        </label>
        {{#liquid-if repeats}}
          <div class='grid-row'>
            {{number-field value=repetition onchange=(action (mut repetition))}}
            {{#select-field value=frequency onchange=(action (mut frequency)) options=(list 'weeks' 'days' 'months') as |option|}}
              {{option}}
            {{/select-field}}
          </div>
        {{/liquid-if}}
      </div>
      {{f.editor 'description'}}
      <div class='grid-row'>
        {{f.autocomplete 'venue.location' label='Location' key='name' onquery=(action onquery 'location')}}
        {{f.text 'venue.extendedAddress' label='Extended Address'}}
      </div>
    </div>
  </div>
  <footer>
    {{f.submit 'Add Event'}}
    <button type='reset' onclick={{dismiss}}>Cancel</button>
  </footer>
{{/form-for}}
