<header>{{icon 'love'}} Updates</header>
<div class="body grid-column">
  {{#sortable-list name='builds' rows=rows sort='deployedBy.name' onsort=(action (mut sort)) as |l item|}}
    {{#l.item 'deployedBy.name' sortable=false class=(if item.live 'active' 'inactive') as |build|}}
      {{#link-to 'person' build.deployedBy}}{{build.deployedBy.name}}{{/link-to}}
    {{else}}
      <span>{{t 'builds.deployedBy.name'}}</span>
    {{/l.item}}
    {{#l.item 'liveAt' sortable=false as |build|}}
      <span>{{l 'date' build.liveAt timezone=session.currentGroup.timezone}}</span>
    {{else}}
      {{t 'builds.liveAt'}}
    {{/l.item}}
    {{#l.item 'changes' sortable=false as |build|}}
      <a href="{{build.gitUrl}}/commit/{{build.gitSha}}" target="__blank">View Changes</a>
    {{else}}
      <span>{{t 'builds.changes'}}</span>
    {{/l.item}}
  {{/sortable-list}}
</div>
<footer>
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>
