<header>{{icon 'love'}} Updates</header>
<div class="body grid-column">
  {{#tabular-list rows=rows as |l item|}}
    {{#l.item 'deployedBy' class=(if item.live 'active' 'inactive') as |build|}}
      {{#link-to 'person' build.deployedBy}}{{build.deployedBy.name}}{{/link-to}}
    {{else}}
      Updated by
    {{/l.item}}
    {{#l.item 'liveAt' as |build|}}
      {{l 'date' build.liveAt}}
    {{else}}
      Active Since
    {{/l.item}}
    {{#l.item 'changes' as |build|}}
      <a href="{{build.gitUrl}}/commit/{{build.gitSha}}" target="__blank">View Changes</a>
    {{else}}
      Changes
    {{/l.item}}
  {{else}}
    No updates yet!
  {{/tabular-list}}
</div>
<footer>
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>
