<header>{{icon 'love'}} Updates</header>
<div class="body grid-column">
  {{#tabular-list rows=rows as |l|}}
    {{#l.item 'deployedBy' as |build|}}
      {{build.deployedBy}}
    {{else}}
      Updated by
    {{/l.item}}
    {{#l.item 'liveAt' as |build|}}
      <span class="status {{if build.live 'active'}}"></span> {{l 'date' build.liveAt}}
    {{else}}
      Active Since
    {{/l.item}}
    {{#l.item 'changes' as |build|}}
      <a href="{{build.gitUrl}}/commit/{{build.gitSha}}" target="__blank">View Changes</a>
    {{else}}
      Changes
    {{/l.item}}
  {{else}}
    No updates yet!
  {{/tabular-list}}
</div>
<footer>
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>
