{{title "Locations"}}
{{remember-document-scroll key='locations'}}

<section id="locations">
  <header>
    {{search-field query=q onquery=(action (mut q)) placeholder="Locations"}}
  </header>
  <nav>
    <button type='submit' onclick={{action (mut isAdding) true}}>
      {{icon "location"}} Add Location
    </button>
    {{#if isAdding}}
      {{dialog-box (component 'new-location-dialog'
          onsubmit=(route-action 'createLocation'))
        ondismiss=(action (mut isAdding) false)}}
    {{/if}}
  </nav>
  {{#sortable-list rows=model.model load=(route-action 'load') total=model.meta.page.total sort=sort icon='location' as |l|}}
    {{#l.item 'name' as |item|}}
      {{#link-to 'admin.location' item}}{{item.name}}{{/link-to}}
    {{else}}
      Name
    {{/l.item}}
    {{#l.item 'addressLine' as |item|}}
      {{item.addressLine}}
    {{else}}
      Address
    {{/l.item}}
    {{#l.item 'city' as |item|}}
      {{item.city}}
    {{else}}
      City
    {{/l.item}}
    {{#l.item 'regionCode' as |item|}}
      {{item.regionCode}}
    {{else}}
      State
    {{/l.item}}
  {{else}}
    No locations
  {{/sortable-list}}
</section>
