<header>{{icon 'lock'}}{{#if logins.length}}Manage Logins{{else}}Add Login{{/if}}</header>
<div class='body' id='authorizations'>
  {{#if logins.length}}
    {{#sortable-list rows=sortableLogins sort=sort onsort=(action (mut sort)) as |l|}}
      {{#l.item 'avatar' sortable=false as |login|}}
        {{#if login.avatar}}
          <img src="{{login.avatar}}" alt="{{login.email}}"/>
        {{/if}}
      {{else}}
        &nbsp;
      {{/l.item}}
      {{#l.item 'email' as |login|}}
        {{login.email}}
      {{else}}
        Email
      {{/l.item}}
      {{#l.item 'provider' as |login|}}
        {{login.provider}}
      {{else}}
        Provider
      {{/l.item}}
      {{#l.item 'delete' sortable=false as |login|}}
        {{#confirm-button class='icon' onsubmit=(action ondelete login)}}
          {{icon 'trash'}}
        {{else}}
          {{icon 'check'}}
        {{/confirm-button}}
      {{/l.item}}
    {{/sortable-list}}
  {{/if}}
  <div class="container">
    {{#create-button 'email' type='email' onsubmit=(action oncreate) placeholder='Enter email'}}
      {{icon "add"}} Add Login
    {{else}}
      {{icon "add"}}
    {{/create-button}}
  </div>
</div>
<footer>
  <button type='reset' onclick={{dismiss}}>Close</button>
</footer>
