{{#form-for onsubmit=(action 'submit') as |f|}}
  <header>{{icon 'key'}}{{#if logins.length}}Manage Logins{{else}}Add Login{{/if}}</header>
  <div class='body' id='authorizations'>
    {{#if logins.length}}
      {{#tabular-list rows=logins as |l|}}
        {{#l.item 'avatar' as |login|}}
          {{#if login.avatar}}
            <img src="{{login.avatar}}" alt="{{login.email}}"/>
          {{/if}}
        {{/l.item}}
        {{#l.item 'email' as |login|}}
          {{login.email}}
        {{else}}
          Email
        {{/l.item}}
        {{#l.item 'provider' as |login|}}
          {{login.provider}}
        {{else}}
          Provider
        {{/l.item}}
      {{/tabular-list}}
      {{#unless isFormOpen}}
        <button type='submit' onclick={{action (mut isFormOpen) true}}>{{icon 'add'}} Add Login</button>
      {{/unless}}
    {{/if}}
    {{#if isFormOpen}}
      {{f.text 'email'}}
    {{/if}}
  </div>
  <footer>
    {{f.submit 'Add Login'}}
    <button type='reset' onclick={{dismiss}}>Cancel</button>
  </footer>
{{/form-for}}
