<div class="cover-photo">
  <img src="{{get (await model.coverPhoto) 'url'}}" alt="{{model.title}}"/>
</div>
<div class="frame padding-none">
  <figcaption>
    {{#link-to 'event' model class='photo-link'}}{{model.title}}{{/link-to}}
    <div>
      <h6 class="photo-overlay">
        {{format-date-range model.startsAt model.endsAt}}<br>
        {{#if model.location}}{{model.location.name}}{{/if}}
      </h6>
    </div>
  </figcaption>
</div>
