<header>{{icon 'key'}}{{#if logins.length}}Manage Deploy Keys{{else}}Add Deploy Key{{/if}}</header>
<div class='body' id='public-keys'>
  {{#if publicKeys.length}}
    {{#sortable-list rows=sortedPublicKeys sort=sort onsort=(action (mut sort)) as |l|}}
      {{#l.item 'name' as |key|}}
        {{key.name}}
      {{else}}
        Name
      {{/l.item}}
      {{#l.item 'fingerprint' as |key|}}
        {{key.fingerprint}}
      {{else}}
        Fingerprint
      {{/l.item}}
      {{#l.item 'lastUsedAt' as |key|}}
        {{l 'date' key.lastUsedAt}}
      {{else}}
        Last Used At
      {{/l.item}}
      {{#l.item 'delete' sortable=false as |key|}}
        {{#confirm-button class='icon' onsubmit=(action ondelete key)}}
          {{icon 'trash'}}
        {{else}}
          {{icon 'check'}}
        {{/confirm-button}}
      {{/l.item}}
    {{/sortable-list}}
  {{/if}}
  {{#if isAdding}}
    {{#form-for name='publicKeys' class='container grid-column' onsubmit=(action 'submit') as |f|}}
      {{f.text 'name'}}
      {{f.textarea 'key' rows=5}}
      <div>
        {{f.submit 'Add Deploy Key'}}
      </div>
    {{/form-for}}
  {{else}}
    <div class='container'>
      <button type='submit' onclick={{action (mut isAdding) true}}>{{icon 'add'}} Add Deploy Key</button>
    </div>
  {{/if}}
  <br>
</div>
<footer>
  <button type='reset' onclick={{dismiss}}>Close</button>
</footer>
