<header>{{icon 'ticket'}} Add Ticket</header>
<div class="body grid-column">
  {{search-field query=q onquery=(action 'query') placeholder="Search tickets by description"}}
  {{#tabular-list rows=results as |l|}}
    {{#l.item 'checkbox' as |item|}}
      {{check-box value=(equals selected item) onchange=(action (mut selected) item)}}
    {{else}}
    {{/l.item}}
    {{#l.item 'description' as |item|}}
      <span onclick={{action (mut selected) item}}>{{item.description}}</span>
    {{else}}
      Description
    {{/l.item}}
    {{#l.item 'cost' as |item|}}
      {{l 'currency' item.cost currency=item.currency}}
    {{else}}
      Cost
    {{/l.item}}
  {{/tabular-list}}
</div>
<footer>
  <button type='submit' onclick={{action onsubmit selected}}>Add Ticket</button>
  <button type='reset' onclick={{action dismiss}}>Cancel</button>
</footer>
