<header>{{icon 'add'}} Add Embed</header>
<div class="body container">
  <div class="grid-column">
    <br>
    <div class="grid-row">
      {{#dialog-button (component 'find-event-dialog' onsubmit=(action 'addItinerary')) group='itinerary'}}
        {{icon 'calendar'}} Add Itinerary
      {{/dialog-button}}
      {{#dialog-button (component 'find-ticket-dialog' onsubmit=(action 'addTicket')) group='ticket'}}
        {{icon 'ticket'}} Add Ticket
      {{/dialog-button}}
    </div>
    <div class="grid-row">
      {{#dialog-button (component 'find-photo-dialog' onsubmit=(action 'addPhoto') onupload=onupload) group='photo'}}
        {{icon 'photo'}} Add Photo
      {{/dialog-button}}
      {{#create-button 'url' type='url' onsubmit=(action 'addYoutubeVideo') placeholder='Enter URL'}}
        {{icon 'youtube'}} Add Youtube Video
      {{else}}
        {{icon 'check'}}
      {{/create-button}}
    </div>
    <div class="grid-row">
      {{#dialog-button (component 'find-location-dialog' onsubmit=(action 'addLocation')) group='location'}}
        {{icon 'location'}} Add Location
      {{/dialog-button}}
      {{#dialog-button (component 'find-person-dialog' onsubmit=(action 'addPerson')) group='person'}}
        {{icon 'person'}} Add Person
      {{/dialog-button}}
    </div>
    <br>
  </div>
</div>
<footer>
  <button type='reset' onclick={{dismiss}}>Cancel</button>
</footer>