{{#form-for payload name='photo' onsubmit=(action submit) as |f|}}
  <header>{{icon 'photo'}} Edit Photo</header>
  <div class="body grid-column">
    {{#f.buttons 'align' name='photo.alignments' as |b|}}
      {{b.option 'left' icon='align-left'}}
      {{b.option 'center' icon='align-center'}}
      {{b.option 'right' icon='align-right'}}
    {{/f.buttons}}
    {{#f.buttons 'size' name='photo.sizes' as |b|}}
      {{b.option 'small'}}
      {{b.option 'medium'}}
      {{b.option 'large'}}
    {{/f.buttons}}
    {{f.text 'caption'}}
  </div>
  <footer>
    {{f.submit 'Save'}}
    <button type='reset' onclick={{dismiss}}>Cancel</button>
  </footer>
{{/form-for}}
