<div class="koenig-editor__editor-wrapper" data-kg="editor-wrapper">
    <div class="koenig-editor__editor" data-gramm="false" data-kg="editor"></div>
</div>

{{!-- pop-up markup toolbar is shown when there's a selection --}}
{{koenig-toolbar
    editor=editor
    basicOnly=(not (contains embeds 'person'))
    embeds=embeds
    editorRange=selectedRange
    activeMarkupTagNames=activeMarkupTagNames
    activeSectionTagNames=activeSectionTagNames
    toggleMarkup=(action "toggleMarkup")
    toggleSection=(action "toggleSection")
    toggleHeaderSection=(action "toggleHeaderSection")
    editLink=(action "editLink")
}}

{{!-- pop-up link hover toolbar --}}
{{koenig-link-toolbar
    editor=editor
    container=element
    hostname=hostname
    linkRange=linkRange
    selectedRange=selectedRange
    editLink=(action "editLink")
}}

{{!-- pop-up link editing toolbar --}}
{{#if linkRange}}
    {{koenig-link-input
        editor=editor
        linkRange=linkRange
        selectedRange=selectedRange
        cancel=(action "cancelEditLink")
    }}
{{/if}}

{{!-- (+) icon and pop-up menu --}}
{{#if embeds.length}}
    {{koenig-plus-menu
        embeds=embeds
        editor=editor
        editorRange=selectedRange
        replaceWithCardSection=(action "replaceWithCardSection")
    }}

    {{!-- slash menu popup --}}
    {{koenig-slash-menu
        embeds=embeds
        editor=editor
        editorRange=selectedRange
        replaceWithCardSection=(action "replaceWithCardSection")
    }}
{{/if}}

{{!-- all component cards wormholed into the editor canvas --}}
{{#each componentCards as |card|}}
    {{#-in-element card.destinationElement}}
        {{component (concat 'text-editor/cards/' card.componentName)
            editor=editor
            postModel=card.postModel
            cardName=card.cardName
            payload=card.payload
            env=card.env
            options=card.options
            headerOffset=headerOffset
            saveCard=(action card.env.save)
            cancelCard=(action card.env.cancel)
            removeCard=(action card.env.remove)
            isSelected=card.isSelected
            isEditing=card.isEditing
            onupload=onupload
            selectCard=(action "selectCard" card)
            deselectCard=(action "deselectCard" card)
            editCard=(action "editCard" card)
            deleteCard=(action "deleteCard" card)
            moveCursorToPrevSection=(action "moveCursorToPrevSection" card)
            moveCursorToNextSection=(action "moveCursorToNextSection" card)
            addParagraphAfterCard=(action "addParagraphAfterCard" card)
            registerComponent=(action (mut card.component))
        }}
    {{/-in-element}}
{{/each}}
