{{#form-for data name='transaction' autocomplete="off" onsubmit=(action 'submit') as |f|}}
  <header>{{icon 'love'}} Add Donation</header>
  <div class="body grid-column">
    <div class='grid-row'>
      {{f.text 'description' autocomplete=(if f.changeset.paidBy.name (concat 'Donation from ' f.changeset.paidBy.name))}}
      {{f.date 'paidAt'}}
    </div>
    {{f.currency 'amountPaid' 'currency' currencies=(list 'USD' 'EUR')}}
    {{f.autocomplete 'paidBy' inputId='paid-by' key='name' onquery=(action onquery 'person')}}
    {{f.editor 'notes' markup=(list 'bold' 'italic' 'underline')}}
  </div>
  <footer>
    {{f.submit 'Add Donation'}}
    <button type='reset' onclick={{dismiss}}>Cancel</button>
  </footer>
{{/form-for}}
