{{head-layout}}
{{#if session.isAuthenticated}}
  {{title session.currentGroup.name}}
  {{#navigation-bar routes='home posts events tickets ledger people locations photos group' onlogout=(route-action 'logout')}}
    {{#from-elsewhere name='search' as |searchField|}}
      {{#if searchField}}
        {{component searchField}}
      {{else}}
        <span></span>
      {{/if}}
    {{/from-elsewhere}}
  {{/navigation-bar}}
{{/if}}
{{outlet}}

{{snack-bar}}
{{dialog-box}}
