{{head-layout}}
{{#if session.isAuthenticated}}
  {{title session.currentGroup.name}}
  {{#if canAccessOtherGroups}}
    {{#select-field value=activeGroup options=authorizedGroups onchange=(action 'changeGroup') as |opt|}}
      {{opt.name}}
    {{/select-field}}
  {{/if}}
  {{#navigation-bar routes='home posts events tickets ledger people locations photos group' onlogout=(route-action 'logout')}}
    {{#from-elsewhere name='search' as |searchField|}}
      {{#if searchField}}
        {{component searchField}}
      {{else}}
        <span></span>
      {{/if}}
    {{/from-elsewhere}}
    {{progress-bar value=progress}}
  {{/navigation-bar}}
{{/if}}
{{outlet}}

{{snack-bar}}
{{dialog-box}}
