{{#if (equals model session.currentGroup)}}
  {{title "My Group"}}
{{else}}
  {{title model.name}}
{{/if}}
<section id="group">
  {{#form-for model onsubmit=(route-action 'save') class='grid-column' as |f|}}
    {{f.text 'name'}}
    {{f.text 'hostname' label=(concat "Hostname " (icon 'help' id='hostname-info'))
             autocomplete=currentHostname}}
    {{#tool-tip for='hostname-info'}}
      The hostname of this website is "{{currentHostname}}".<br>
      This is used to create links in emails that are sent.
    {{/tool-tip}}

    {{#each builds as |build|}}
      {{build.liveAt}}
    {{/each}}
  {{/form-for}}
</section>
