{{#if (equals model session.currentGroup)}}
  {{title "My Group"}}
{{else}}
  {{title model.name}}
{{/if}}
<section id="group">
  {{#form-for model autosave=true onsubmit=(route-action 'save') class='grid-column' as |f|}}
    {{#f.nav}}
      <button type='submit' onclick={{action (mut isShowingBuilds) true}}>
        {{icon 'love'}} See Updates
      </button>
      {{#if isShowingBuilds}}
        {{dialog-box (component 'manage-builds-dialog' builds=model.builds)
          ondismiss=(action (mut isShowingBuilds) false)}}
      {{/if}}
    {{/f.nav}}
    {{f.text 'name'}}
    {{f.text 'hostname' label="Hostname" autocomplete=currentHostname}}
    {{f.text 'stripePublishableKey'}}
    {{f.text 'stripeSecretKey'}}
  {{/form-for}}
</section>
