{{#if (equals model session.currentGroup)}}
  {{title "My Group"}}
{{else}}
  {{title model.name}}
{{/if}}

{{to-elsewhere named='search' send=(component 'back-link' 'home')}}

{{action-bar 'syncWebsite' 'stripe'
  for='group'
  syncWebsite=(route-action 'updateWebsite')
  stripe=(component 'update-stripe-dialog' model=model onsave=(route-action 'save'))
  stripeIcon='stripe'}}
<section id="group" class="container">
  {{#form-for model name='group' autosave=true onsubmit=(route-action 'save') class='grid-column' as |f|}}
    {{f.save-status}}
    {{f.text 'name'}}
    {{f.text 'hostname'}}
    {{f.text 'glitchUrl'}}
    {{f.text 'email' type='email'}}
    {{#f.select 'timezone' options=timezones as |timezone|}}
      {{t (concat 'timezones.' timezone)}}
    {{/f.select}}
    {{#f.select 'locale' options=(list 'en-us' 'en-de') as |option|}}
      {{t (concat 'locales.' option)}}
    {{/f.select}}

    <h3>Sections</h3>
    {{#f.form-for 'channels' as |g|}}
      {{g.text 'name'}}
      {{g.text 'slug'}}
    {{else}}
      <button type='submit' onclick={{route-action 'createChannel'}}>{{icon 'add'}} Add Section</button>
    {{/f.form-for}}
  {{/form-for}}
</section>
