{{to-elsewhere named='search' send=(component 'text-block' session.currentGroup.name)}}

<section id="home" class="container">
  <br>
  <h2>👋 Hello, {{session.currentPerson.name}}</h2>
  <p>{{#link-to 'learn'}}Learn more{{/link-to}} about how to use this site, or see below for a quick glance at what's up with {{session.currentGroup.name}}:</p>
  
  <div class="grid-column">
    <div class="grid-row">
      <div class="events">
        <h3>💃 Upcoming Events</h3>
        {{#sortable-list name='dashboard.upcomingEvents' rows=this.sortedEvents sort=sortEventsBy onsort=(action (mut sortEventsBy)) icon='calendar' as |l|}}
          {{#l.item 'name' as |item|}}
            {{#link-to 'event' item}}{{item.title}}{{/link-to}}
          {{/l.item}}
          {{#l.item 'ticketStubs.count' as |item|}}
            {{item.ticketStubs.length}}
          {{/l.item}}
        {{/sortable-list}}
      </div>
      <div class="balance">
        <h3>💰 Balance</h3>
        {{#sortable-list name='dashboard.balance' rows=this.sortedTransactions sort=sortTransactionsBy onsort=(action (mut sortTransactionsBy)) icon='coin' as |l|}}
          {{#l.item 'paidBy.name' as |item|}}
            {{#link-to 'person' item.paidBy}}{{item.paidBy.name}}{{/link-to}}
          {{/l.item}}
          {{#l.item 'amountPaid' as |item|}}
            {{l 'currency' item.amountPaid currency=item.currency}}
          {{/l.item}}
        {{/sortable-list}}
        {{balance-bar balance=transactions.meta.balance credit=transactions.meta.credit debit=transactions.meta.debit}}
      </div>
    </div>
  </div>
</section>