{{title "Ledger"}}

<div id="ledger">
  <header>
    {{search-field query=q onquery=(action (mut q)) placeholder="Search ledger by description or paid by"}}
    {{balance-bar balance=model.meta.balance credit=model.meta.credit debit=model.meta.debit}}
  </header>
  <nav class='row'>
    <button type='submit' onclick={{action (mut isDonating) true}}>
      {{icon "love"}} Add Donation
    </button>
    <button type='submit' onclick={{action (mut isExpensing) true}}>
      {{icon "coin"}} Add Expense
    </button>
    {{#if isExpensing}}
      {{dialog-box (component 'new-expense-dialog'
          person=session.currentPerson
          onquery=(route-action 'query')
          onsubmit=(route-action 'createTransaction'))
        ondismiss=(action (mut isExpensing) false)}}
    {{/if}}
    {{#if isDonating}}
      {{dialog-box (component 'new-donation-dialog'
          onquery=(route-action 'query')
          onsubmit=(route-action 'createTransaction'))
        ondismiss=(action (mut isDonating) false)}}
    {{/if}}
  </nav>
  {{#sortable-list rows=model.model total=model.meta.page.total load=(route-action 'load') sort=sort icon='piggy-bank' as |list|}}
    {{#list.item 'description' as |item|}}
      {{#link-to 'transaction' item}}{{item.description}}{{/link-to}}
    {{else}}
      Description
    {{/list.item}}
    {{#list.item 'paidBy' as |item|}}
      {{item.paidBy.name}}
    {{else}}
      Paid By
    {{/list.item}}
    {{#list.item 'paidAt' as |item|}}
      {{l 'date' item.paidAt}}
    {{else}}
      Paid At
    {{/list.item}}
    {{#list.item 'amountPaid' as |item|}}
      {{l 'currency' item.amountPaid}}
    {{else}}
      Amount
    {{/list.item}}
    {{#list.item 'amountOwed' as |item|}}
      {{#if item.amountOwed}}
        {{l 'currency' item.amountOwed}}
      {{/if}}
    {{else}}
      Owed
    {{/list.item}}
  {{/sortable-list}}
</div>
