{{title "Ledger"}}

{{to-elsewhere named='search' send=(component 'search-field' query=q onquery=(action (mut q)) placeholder="Search ledger by description or paid by")}}
<div id="ledger">
  <header>
    {{action-bar 'addDonation' 'addExpense'
      for='ledger'
      addDonation=(component 'new-donation-dialog'
            onquery=(route-action 'query')
            onsubmit=(route-action 'createTransaction'))
      addDonationIcon='love'
      addExpense=(component 'new-expense-dialog'
          person=session.currentPerson
          onquery=(route-action 'query')
          onsubmit=(route-action 'createTransaction'))
      addExpenseIcon='coin'}}
  </header>

  {{balance-bar balance=model.meta.balance credit=model.meta.credit debit=model.meta.debit}}

  {{#sortable-list name='ledger' rows=model.model total=model.meta.page.total load=(route-action 'load') sort=sort query=q icon='coin' as |list item|}}
    {{#list.item 'description' as |item|}}
      {{#link-to 'transaction' item}}{{item.description}}{{/link-to}}
    {{/list.item}}
    {{#list.item 'paidBy' as |item|}}
      {{item.paidBy.name}}
    {{/list.item}}
    {{#list.item 'paidAt' as |item|}}
      {{l 'date' item.paidAt timezone=session.currentGroup.timezone}}
    {{/list.item}}
    {{#list.item 'amountPaid' class=(if item.amountOwed 'iou' (if (gt item.amountPaid 0) 'credit' 'debit')) as |item|}}
      {{l 'currency' item.amountPaid currency=item.currency}} {{#if item.amountOwed}}
        (Owes {{l 'currency' item.amountOwed currency=item.currency}})
      {{/if}}
    {{/list.item}}
  {{/sortable-list}}
</div>
