{{title "Ledger"}}

<div id="ledger">
  <header class="container">
    {{search-field query=q onquery=(action (mut q)) placeholder="Search ledger by description or paid by"}}
    <nav class='row'>
      {{#dialog-button (component 'new-donation-dialog'
            onquery=(route-action 'query')
            onsubmit=(route-action 'createTransaction')) group='add-donation'}}
        {{icon "love"}} Add Donation
      {{/dialog-button}}
      {{#dialog-button (component 'new-expense-dialog'
          person=session.currentPerson
          onquery=(route-action 'query')
          onsubmit=(route-action 'createTransaction')) group='add-expense'}}
        {{icon "coin"}} Add Expense
      {{/dialog-button}}
    </nav>
  </header>

  {{balance-bar balance=model.meta.balance credit=model.meta.credit debit=model.meta.debit}}

  {{#sortable-list rows=model.model total=model.meta.page.total load=(route-action 'load') sort=sort icon='piggy-bank' as |list item|}}
    {{#list.item 'description' as |item|}}
      {{#link-to 'transaction' item}}{{item.description}}{{/link-to}}
    {{else}}
      Description
    {{/list.item}}
    {{#list.item 'paidBy' as |item|}}
      {{item.paidBy.name}}
    {{else}}
      Paid By
    {{/list.item}}
    {{#list.item 'paidAt' as |item|}}
      {{l 'date' item.paidAt}}
    {{else}}
      Paid At
    {{/list.item}}
    {{#list.item 'amountPaid' class=(if item.amountOwed 'iou' (if (gt item.amountPaid 0) 'credit' 'debit')) as |item|}}
      {{l 'currency' item.amountPaid}}
    {{else}}
      Amount
    {{/list.item}}
    {{#list.item 'amountOwed' as |item|}}
      {{#if item.amountOwed}}
        {{l 'currency' item.amountOwed}}
      {{/if}}
    {{else}}
      Owed
    {{/list.item}}
  {{/sortable-list}}
</div>
