{{title "Locations"}}
{{remember-document-scroll key='locations'}}

<section id="locations">
  <header class="container">
    {{search-field query=q onquery=(action (mut q)) placeholder="Search locations by name, address, or city"}}
    <nav>
      {{#dialog-button (component 'new-location-dialog' onsubmit=(route-action 'createLocation')) group='add-location'}}
        {{icon "location"}} Add Location
      {{/dialog-button}}
    </nav>
  </header>
  {{#sortable-list name='locations' rows=model.model load=(route-action 'load') total=model.meta.page.total sort=sort icon='location' as |l|}}
    {{#l.item 'name' as |item|}}
      {{#link-to 'location' item}}{{item.name}}{{/link-to}}
    {{~/l.item}}
    {{#l.item 'addressLine' as |item|~}}
      {{item.addressLine}}
    {{~/l.item}}
    {{#l.item 'city' as |item|~}}
      {{item.city}}
    {{~/l.item}}
    {{#l.item 'regionCode' as |item|}}
      {{item.regionCode}}
    {{/l.item}}
  {{else}}
    No locations
  {{/sortable-list}}
</section>
