{{title "People"}}

<section id="people">
  <header class="container">
    {{search-field query=q onquery=(action (mut q)) placeholder="Search people by name or email"}}
    <nav>
      {{#create-button 'name' onsubmit=(route-action 'createPerson') placeholder='Enter name'}}
        {{icon "person"}} Add Person
      {{else}}
        {{icon "arrow"}}
      {{/create-button}}
    </nav>
  </header>
  {{#sortable-list name='people' rows=model.model total=model.meta.page.total sort=sort load=(route-action 'load') as |l|}}
    {{#l.item 'name' as |item|}}
      {{#link-to 'person' item~}}
        {{item.name}}
      {{~/link-to}}
    {{/l.item}}
    {{#l.item 'email' as |item|}}
      {{item.email}}
    {{/l.item}}
  {{/sortable-list}}
</section>
