{{title model.name}}

{{action-bar 'email' 'manageLogins' 'addDeployKey' 'delete'
  for='person'
  email=(if model.email (concat 'mailto:' model.email))
  emailIcon='email'
  manageLogins=(component 'new-login-dialog'
    logins=model.authorizations
    oncreate=(route-action 'addLogin' model)
    ondelete=(route-action 'deleteLogin'))
  manageLoginsIcon='lock'
  addDeployKey=(if (equals model.role 'staff') (component 'public-key-dialog'
    publicKeys=model.publicKeys
    oncreate=(route-action 'addPublicKey')
    ondelete=(route-action 'deletePublicKey')))
  addDeployKeyIcon='key'
  delete=(route-action 'deleteRecord')
  deleteIcon='trash'}}

<section id="person" class="container">
  {{#form-for model name='person' autosave=true onsubmit=(route-action 'save') as |f|}}
    {{f.save-status}}
    <div class='grid-column'>
      {{f.text 'name'}}
      {{f.text 'email'}}
      {{f.url 'website'}}
      {{f.editor 'biography' rows=5 onembed=null}}
      {{f.photos 'photos'}}
    </div>
  {{/form-for}}
</section>
