{{title model.name}}
<section id="person">
  {{#form-for model autosave=true onsubmit=(route-action 'save') onsaved=(route-action 'flash' 'Saved ' model.name) as |f|}}
    <nav class='row'>
      {{#confirm-button onsubmit=(route-action 'deleteRecord' model)}}
        {{icon "trash"}}
      {{else}}
        Are you sure?
      {{/confirm-button}}
      {{#if model.email}}
        <a class='submit-button' href="mailto:{{model.email}}">
          {{icon "email"}} Email
        </a>
      {{/if}}

      {{#if model.authorizations.length}}
        <button type='submit' onclick={{action (mut isAddingLogin) true}}>
          {{icon 'key'}} Manage Logins
        </button>
      {{else}}
        {{#create-button 'email' onsubmit=(route-action 'addLogin' model) placeholder='Enter email' value=model.email}}
          {{icon 'add'}} Add Login
        {{else}}
          {{icon 'add'}}
        {{/create-button}}
      {{/if}}
      {{#if isAddingLogin}}
        {{dialog-box (component 'new-login-dialog'
            logins=model.authorizations
            onsubmit=(route-action 'addLogin' model))
          ondismiss=(action (mut isAddingLogin) false)}}
      {{/if}}
    </nav>

    <div class='grid-column'>
      {{f.text 'name'}}
      {{f.text 'email'}}
      {{f.url 'website'}}
      {{f.editor 'biography' rows=5}}
      {{f.photos 'photos'}}
    </div>
  {{/form-for}}
</section>
