{{title model.name}}
<section id="person">
  {{#form-for model autosave=true onsubmit=(route-action 'save') as |f|}}
    {{#f.nav ondelete=(route-action 'deleteRecord')}}
      {{#if model.email}}
        <a class='submit-button' href="mailto:{{model.email}}">
          {{icon "email"}} Email
        </a>
      {{/if}} 
      {{#if model.authorizations.length}}
        <button type='submit' onclick={{action (mut isAddingLogin) true}}>
          {{icon 'lock'}} Manage Logins
        </button>
      {{else}}
        {{#animated-container}}
          {{#create-button 'email' onsubmit=(route-action 'addLogin' model) placeholder='Enter email' value=model.email}}
            {{icon 'add'}} Add Login
          {{else}}
            {{icon 'add'}}
          {{/create-button}}
        {{/animated-container}}
      {{/if}}
      {{#if (equals model.role 'staff')}}
        <button type='submit' onclick={{action (mut isAddingPublicKey) true}}>
          {{icon 'key'}} Add Deploy Key
        </button>
      {{/if}}
      {{#if isAddingLogin}}
        {{dialog-box (component 'new-login-dialog'
            logins=model.authorizations
            oncreate=(route-action 'addLogin' model)
            ondelete=(route-action 'deleteLogin'))
          ondismiss=(action (mut isAddingLogin) false)}}
      {{/if}}
      {{#if isAddingPublicKey}}
        {{dialog-box (component 'public-key-dialog'
            publicKeys=model.publicKeys
            oncreate=(route-action 'addPublicKey')
            ondelete=(route-action 'deletePublicKey'))
          ondismiss=(action (mut isAddingPublicKey) false)}}
      {{/if}}
    {{/f.nav}}
    <div class='grid-column'>
      {{f.text 'name'}}
      {{f.text 'email'}}
      {{f.url 'website'}}
      {{f.editor 'biography' rows=5}}
      {{f.photos 'photos'}}
    </div>
  {{/form-for}}
</section>
