{{title "Photos"}}
{{remember-document-scroll key='photos'}}

{{to-elsewhere named='search' send=(component 'search-field' query=q onquery=(action (mut q)) placeholder="Search photos by filename or accessibility description")}}
{{#file-dropzone name='photos' as |dropzone|}}
  <section id="photos">
    <header class='container'>
      <nav class='row'>
        {{#file-upload name='photos' multiple=true class='submit-button' onfileadd=(route-action 'upload')}}
          {{t 'photos.actions.upload' icon=(icon 'add-photo') htmlSafe=true}}
        {{/file-upload}}
      </nav>
    </header>
    {{#if dropzone.active}}
      <div class='dropzone-backdrop'>
        <span>{{t 'photos.actions.upload' icon=(icon 'photo') htmlSafe=true}}</span>
      </div>
    {{/if}}
    {{#photo-grid name='photo' photos=model.model load=(route-action 'load') total=model.meta.page.total icon='photo' sort=sort load=(route-action 'load') as |photo width height|}}
      {{#link-to 'photo' photo~}}
        {{lazy-image src=photo.url alt=photo.title width=width height=height}}
      {{~/link-to}}
    {{/photo-grid}}
  </section>
{{/file-dropzone}}
