{{title (or model.title model.filename)}}
{{remember-document-scroll key=(concat 'photo.' model.id)}}

{{action-bar 'delete'
  for='photo'
  delete=(route-action 'deleteRecord')
  deleteIcon='trash'}}
<section id="photo" class="container">
  {{#form-for model name='photo' autosave=true onsubmit=(route-action 'save') as |f|}}
    {{f.save-status}}
    <div class='grid-row'>
      {{#animated-container}}
        {{#animated-value model use=transition duration=300 as |m|}}
          <img src="{{m.url}}" alt="{{m.title}}">
        {{/animated-value}}
      {{/animated-container}}
      <div class='grid-column'>
        {{f.text 'filename'}}
        {{f.text 'title'}}
        <p>{{t 'photo.accessibilityHelp'}}</p>
      </div>
    </div>
  {{/form-for}}
</section>
