{{remember-document-scroll key=(concat 'post/' model.id '/edit')}}
{{title model.title}}

{{#file-dropzone name=(concat 'post/' model.id '/photo/new')}}
<section id="post-edit">
  {{#form-for model autosave=true onsubmit=(route-action 'save') onsaved=(route-action 'flash' (concat 'Saved ' model.title)) as |f|}}
    <nav class='row'>
      {{#confirm-button onsubmit=(route-action 'deleteRecord' model)}}
        {{icon "trash"}} Delete Post
      {{/confirm-button}}
      {{#if model.published}}
        {{#submit-button onsubmit=(route-action 'unpublish' model)}}
          {{icon "cancel"}} Unpublish
        {{/submit-button}}
      {{else}}
        {{#submit-button onsubmit=(route-action 'publish' model)}}
          {{icon "check"}} Publish
        {{/submit-button}}
      {{/if}}
    </nav>
    <div class="grid-column">
      {{f.text 'title'}}
      {{f.text 'slug'}}
      {{f.editor 'body' rows=6 onupload=(route-action 'addPhoto' model)}}
    </div>
  {{/form-for}}
</section>
{{/file-dropzone}}