{{remember-document-scroll key=(concat 'post/' model.id '/edit')}}
{{title model.title}}

{{#file-dropzone name=(concat 'post/' model.id '/photo/new')}}
<section id="post-edit">
  {{#form-for model autosave=true onsubmit=(route-action 'save') as |f|}}
    {{#f.nav ondelete=(route-action 'deleteRecord')}}
      {{#if model.published}}
        {{#submit-button onsubmit=(route-action 'unpublish' model)}}
          {{icon "eye-closed"}} Unpublish
        {{/submit-button}}
      {{else}}
        {{#submit-button onsubmit=(route-action 'publish' model)}}
          {{icon "eye"}} Publish
        {{/submit-button}}
      {{/if}}
    {{/f.nav}}
    <div class="grid-column">
      {{f.text 'title'}}
      {{f.text 'slug'}}
      {{f.editor 'body' rows=6
        onupload=(route-action 'addPhoto' model) embeds=(list
          (hash type='ticket'
                label='Add Ticket'
                icon='ticket'
                onembed=(route-action 'findOrCreateTicket'
                  (component 'find-ticket-dialog')
                )
          )
          (hash type='itinerary'
                label='Add Itinerary'
                icon='list'
                onembed=(route-action 'findOrCreateEvent'
                  (component 'find-event-dialog')
                )
          )
        )}}
    </div>
  {{/form-for}}
</section>
{{/file-dropzone}}