{{remember-document-scroll key=(concat 'post/' model.id '/edit')}}
{{title model.title}}

{{to-elsewhere named='search' send=(component 'back-link' 'posts')}}

{{#file-dropzone name=(concat 'post/' model.id '/photo/new')}}

{{action-bar 'viewLive' 'publish' 'republish' 'unpublish' 'delete'
  for='post'
  unpublish=(if model.isPublished (route-action 'unpublish' model) null)
  viewLive=(if model.isPublished (concat session.currentGroup.url '/' model.slug) null)
  publish=(if model.isPublished null (route-action 'publish' model))
  republish=(if model.isPublished (route-action 'publish' model) null)
  delete=(route-action 'deleteRecord' model)}}

<section id="post-edit" class="container">
  {{#form-for model name='post' autosave=true onsubmit=(route-action 'save') as |f|}}
    {{f.save-status}}
    <div class="grid-column">
      {{f.text 'title'}}
      <div class='grid-row'>
        {{f.autocomplete 'channel' key='name' onquery=(route-action 'query' 'channel')}}
        {{f.text 'slug'}}
      </div>
      {{f.editor 'body' rows=6 onembed=(route-action 'embed' (component 'add-embed-dialog' onupload=(route-action 'addPhoto')))
          embeds=(list 'ticket' 'itinerary' 'photo' 'youtube' 'location' 'person' 'gallery' 'river')}}
    </div>
  {{/form-for}}
</section>
{{/file-dropzone}}