{{remember-document-scroll key=(concat 'post/' model.id '/edit')}}
{{title model.title}}

{{#file-dropzone name=(concat 'post/' model.id '/photo/new')}}

{{action-bar 'unpublish' 'viewLive' 'publish' 'delete'
  for='post'
  unpublish=(if model.published (route-action 'unpublish' model))
  unpublishIcon='eye-closed'
  viewLive=(if model.published (concat session.currentGroup.url '/' model.slug))
  viewLiveIcon='export'
  publish=(unless model.published (route-action 'publish' model))
  publishIcon='eye'
  delete=(route-action 'deleteRecord')
  deleteIcon='trash'}}

<section id="post-edit" class="container">
  {{#form-for model name='post' autosave=true onsubmit=(route-action 'save') as |f|}}
    {{f.save-status}}
    <div class="grid-column">
      {{f.text 'title'}}
      <div class='grid-row'>
        {{f.autocomplete 'channel' key='name' onquery=(route-action 'query' 'channel')}}
        {{f.text 'slug'}}
      </div>
      {{f.editor 'body' rows=6 onembed=(route-action 'embed' (component 'add-embed-dialog' onupload=(route-action 'addPhoto')))
          embeds=(list 'ticket' 'itinerary' 'photo' 'youtube' 'location' 'person')}}
    </div>
  {{/form-for}}
</section>
{{/file-dropzone}}