{{title 'Tickets'}}
{{remember-document-scroll key='tickets'}}

{{to-elsewhere named='search' send=(component 'search-field' query=q onquery=(action (mut q)) placeholder="Search tickets by description")}}
<section id="tickets">
  <header>
    {{action-bar 'addTicket'
      for='tickets'
      addTicket=(component 'new-ticket-dialog'
            onsubmit=(route-action 'createTicket'))
      addTicketIcon='ticket'}}
      <br>
  </header>

  {{#sortable-list name='tickets' load=(route-action 'load') rows=model.model total=model.meta.page.total sort=sort query=q icon='ticket' as |l item|}}
    {{#l.item 'description' class=(if item.isActive 'active' 'inactive') as |item|}}
      {{#link-to 'ticket' item}}{{item.description}}{{/link-to}}
    {{/l.item}}
    {{#l.item 'cost' as |item|}}
      {{l 'currency' item.cost currency=item.currency}}
    {{/l.item}}
    {{#l.item 'numberSold' as |item|}}
      {{item.numberSold}}
    {{/l.item}}
  {{/sortable-list}}
</section>
