{{title model.description}}
{{remember-document-scroll key=(concat 'ticket/' model.id)}}

<section id="ticket">
  {{#form-for model autosave=true onsubmit=(route-action 'save') as |f|}}
    {{#f.nav ondelete=(route-action 'deleteRecord')}}
      <button type='submit' onclick={{action (mut isAddingEvents) true}}>
        {{icon 'add'}} Add Events
      </button>
      {{#if isAddingEvents}}
        {{dialog-box (component 'find-event-dialog'
            disabled=model.events
            onsubmit=(route-action 'createTicketedEvents' model))
          ondismiss=(action (mut isAddingEvents) false)}}
      {{/if}}
      <button type='submit' onclick={{action (mut isAddingPayment) true}}>
        {{icon 'ticket'}} Add Purchase
      </button>
      {{#if isAddingPayment}}
        {{dialog-box (component 'add-purchase-dialog'
            ticket=model
            stubs=model.ticketStubs
            onsubmit=(route-action 'createPayment' model))
          ondismiss=(action (mut isAddingPayment) false)}}
      {{/if}}
    {{/f.nav}}
    <div class='grid-column'>
      {{f.text 'description'}}
      <div class='grid-row'>
        {{f.currency 'cost'}}
        {{f.number 'quantity'}}
      </div>
      <div class='grid-row'>
        {{f.datetime 'validFrom'}}
        {{f.datetime 'validTo'}}
      </div>
    </div>
    {{#tabular-list rows=model.events as |l|}}
      {{#l.item 'title' as |item|}}
        {{item.title}}
      {{else}}
        Title
      {{/l.item}}
      {{#l.item 'date' as |item|}}
        {{l 'date' item.startsAt}}
      {{else}}
        Date
      {{/l.item}}
    {{/tabular-list}}
    {{#tabular-list rows=model.ticketStubs as |l|}}
      {{#l.item 'name' as |item|}}
       {{#link-to 'person' item.person}}{{item.person.name}}{{/link-to}}
      {{else}}
        Name
      {{/l.item}}
      {{#l.item 'event' as |item|}}
        {{#link-to 'event' item.event}}{{item.event.title}}{{/link-to}}
      {{else}}
        Event
      {{/l.item}}
      {{#l.item 'transaction' as |item|}}
        {{#link-to 'transaction' item.purchase}}{{item.purchase.id}}{{/link-to}}
      {{else}}
        Payment
      {{/l.item}}
    {{/tabular-list}}
  {{/form-for}}
</section>
