{{title 'Tickets'}}
{{remember-document-scroll key='tickets'}}

<section id="tickets">
  <header class="container">
    {{search-field query=q onquery=(action (mut q)) placeholder="Search tickets by description"}}
    <nav>
      {{#dialog-button (component 'new-ticket-dialog' onsubmit=(route-action 'createTicket')) group='new-ticket'}}
        {{icon "ticket"}} Add Ticket
      {{/dialog-button}}
    </nav>
  </header>

  {{#sortable-list load=(route-action 'load') rows=model.model total=model.meta.page.total sort=sort icon='ticket' as |l item|}}
    {{#l.item 'description' class=(if item.isActive 'active' 'inactive') as |item|}}
      {{#link-to 'ticket' item}}{{item.description}}{{/link-to}}
    {{else}}
      Description
    {{/l.item}}
    {{#l.item 'cost' as |item|}}
      {{l 'currency' item.cost currency=item.currency}}
    {{else}}
      Cost
    {{/l.item}}
    {{#l.item 'ticketStubs.count' as |item|}}
      {{item.ticketStubs.length}}
    {{else}}
      # Sold
    {{/l.item}}
  {{/sortable-list}}
</section>
