{{title model.description}}
{{remember-document-scroll key=(concat 'expense/' model.id)}}
{{to-elsewhere named='search' send=(component 'back-link' 'ledger')}}

{{action-bar 'viewInStripe' 'delete'
  for='transaction'
  viewInStripe=model.paymentProcessorUrl
  viewInStripeIcon='stripe'
  delete=(route-action 'deleteRecord' model)
  deleteIcon='trash'}}

<section id="transaction" class="container">
  {{#form-for model name='transaction' autosave=true onsubmit=(route-action 'save') as |f|}}
    {{f.save-status}}
    <div class="grid-column">
      <div class='grid-row'>
        {{f.text 'description'}}
        {{f.datetime 'paidAt' timezone=session.currentGroup.timezone}}
      </div>
      <div class='grid-row'>
        {{f.currency 'amountPaid' 'currency' currencies=(list 'USD' 'EUR')}}
        {{f.currency 'amountOwed' 'currency' currencies=(list 'USD' 'EUR')}}
      </div>
      {{f.autocomplete 'paidBy' key='name' onquery=(route-action 'query' 'person')}}
      {{#if model.paidBy}}
        {{#link-to 'person' model.paidBy}}&rarr; {{model.paidBy.name}}{{/link-to}}
      {{/if}}
      {{f.editor 'notes' rows=3 markup=(list 'bold' 'italic' 'underline')}}
    </div>
  {{/form-for}}
</section>
